Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2021-01, with the labels that each got.

#4084 feat: 🍰 Create Default Admin User
  backend/src/db/migrate/store.js
Labels: feature

#4112 chore: 🍰 Database Initialisation Readme After First Deployment
  backend/README.md
  deployment/README.md
  docker-compose.override.yml
Labels: administration, backend, devOps

#4099 chore: 🍰 White-Labeling And Reminders Of New Deployment
  .gitbook/assets/maintenance-page.png
  backend/README.md
  backend/package.json
  cypress/README.md
  docker-compose.yml
  package.json
  webapp/README.md
  webapp/components/Logo/Logo.vue
  webapp/maintenance/README.md
  webapp/maintenance/source/package.json
  webapp/maintenance/source/pages/index.vue
  webapp/package.json
  webapp/pages/password-reset.vue
  webapp/pages/registration.vue
  webapp/static/favicon.ico
  webapp/static/icon.png
  webapp/static/img/custom/Logo-Horizontal.svg
  webapp/static/img/custom/logout.svg
  webapp/static/img/custom/password-reset.svg
  webapp/static/img/custom/sign-up.svg
  webapp/static/img/custom/under-maintenance.svg
  webapp/static/img/custom/welcome.svg
Labels: administration, devOps, frontend, refactor

#4121 start_on_register
  webapp/middleware/authenticated.js
  webapp/pages/logout.vue
Labels: feature, frontend

#4145 chore: 🍰 Quick Fix Of Live Reload By Nuxt For Docker-Compose
  docker-compose.override.yml
  docker-compose.yml
Labels: devOps

#4125 feat: Invite codes
  backend/src/db/factories.js
  backend/src/db/seed.js
  backend/src/middleware/permissionsMiddleware.js
  backend/src/models/InviteCode.js
  backend/src/models/User.js
  backend/src/models/index.js
  backend/src/schema/resolvers/helpers/generateInviteCode.js
  backend/src/schema/resolvers/inviteCodes.js
  backend/src/schema/resolvers/inviteCodes.spec.js
  backend/src/schema/resolvers/users.js
  backend/src/schema/types/type/InviteCode.gql
  backend/src/schema/types/type/User.gql
Labels: backend, feature

#4134 refactor: Disable Categories
  backend/src/middleware/validation/validationMiddleware.js
  backend/src/middleware/validation/validationMiddleware.spec.js
  backend/src/schema/resolvers/posts.js
  backend/src/schema/types/type/Post.gql
  backend/src/schema/types/type/User.gql
  webapp/components/ContributionForm/ContributionForm.spec.js
  webapp/components/ContributionForm/ContributionForm.vue
  webapp/pages/post/_id/_slug/index.vue
Labels: backend, frontend, refactor

#4154 bug: hotfix for invite codes
  backend/src/schema/resolvers/inviteCodes.spec.js
Labels: backend, bug

#4148 feat: Auto Detect Language Of Posts
  backend/package.json
  backend/src/middleware/index.js
  backend/src/middleware/languages/languages.js
  backend/src/middleware/languages/languages.spec.js
  backend/src/schema/resolvers/posts.spec.js
  backend/yarn.lock
  webapp/components/ContributionForm/ContributionForm.spec.js
  webapp/components/ContributionForm/ContributionForm.vue
  webapp/graphql/PostMutations.js
Labels: backend, feature

#4104 [WIP] fix: 🍰 Issue #3504 umlaut encoding #3676
  backend/src/middleware/slugify/uniqueSlug.js
  backend/src/middleware/slugify/uniqueSlug.spec.js
Labels: bug

#4151 Rework dockerfiles & docker-compose
  .github/workflows/ci.yml
  README.md
  SUMMARY.md
  backend/Dockerfile
  backend/README.md
  backend/package.json
  backend/src/activitypub/routes/webfinger.spec.js
  backend/src/config/index.js
  backend/src/middleware/permissionsMiddleware.js
  deployment/helm/ocelot.social/values.yaml
  deployment/legacy-migration/README.md
  deployment/minikube/README.md
  deployment/ocelot-social/deployment-webapp.yaml
  docker-compose.build-and-test.yml
  docker-compose.override.yml
  docker-compose.production.yml
  docker-compose.yml
  installation.md
  neo4j/Dockerfile
  scripts/deploy.sh
  scripts/docker_push.sh
  webapp/Dockerfile
  webapp/maintenance/README.md
  webapp/package.json
Labels: devOps, docker, refactor

#4144 feat: 🍰 Search Results Page
  backend/src/db/seed.js
  backend/src/middleware/permissionsMiddleware.js
  backend/src/schema/resolvers/searches.js
  backend/src/schema/resolvers/searches.spec.js
  backend/src/schema/resolvers/searches/queryString.js
  backend/src/schema/resolvers/users.spec.js
  backend/src/schema/types/type/Search.gql
  cypress/integration/common/search.js
  cypress/integration/search/Search.feature
  webapp/assets/_new/styles/resets.scss
  webapp/assets/_new/styles/tokens.scss
  webapp/components/_new/features/SearchResults/SearchResults.spec.js
  webapp/components/_new/features/SearchResults/SearchResults.vue
  webapp/components/_new/generic/PaginationButtons/PaginationButtons.spec.js
  webapp/components/_new/generic/PaginationButtons/PaginationButtons.vue
  webapp/components/_new/generic/TabNavigation/TabNavigation.spec.js
  webapp/components/_new/generic/TabNavigation/TabNavigation.vue
  webapp/components/_new/generic/TabNavigation/TabNavigator.story.js
  webapp/components/features/SearchField/SearchField.vue
  webapp/components/generic/SearchHeading/SearchHeading.vue
  webapp/components/generic/SearchableInput/SearchableInput.spec.js
  webapp/components/generic/SearchableInput/SearchableInput.story.js
  webapp/components/generic/SearchableInput/SearchableInput.vue
  webapp/graphql/Search.js
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/mixins/postListActions.js
  webapp/package-lock.json
  webapp/pages/index.vue
  webapp/pages/notifications/index.spec.js
  webapp/pages/post/_id/_slug/more-info.vue
  webapp/pages/profile/_id/_slug.vue
  webapp/pages/search/search-results.vue
  webapp/store/search.js
  webapp/storybook/helpers.js
Labels: backend, feature, frontend

#4133 Refactor config
  backend/src/config/index.js
  backend/src/db/clean.js
  backend/src/middleware/email/emailMiddleware.js
  backend/src/middleware/sentryMiddleware.js
  backend/src/schema/resolvers/images/images.js
  webapp/Dockerfile.maintenance
  webapp/config/index.js
  webapp/nuxt.config.js
Labels: refactor

#4153 docu_kubernetes
  docu/kubernetes.drawio
  docu/kubernetes.png
Labels: documentation

#4179 bug: DB Reset At Start Of Statistics Test In Backend
  backend/src/schema/resolvers/statistics.spec.js
Labels: backend, bug
