Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2021-09, with the labels that each got.

#4654 Spelling Change
  README.md
Labels: documentation, core

#4660 Centered the login-form
  webapp/components/LoginForm/LoginForm.vue
  webapp/components/Registration/RegistrationSlider.vue
  webapp/pages/registration.spec.js
Labels: bug, frontend

#4357 feat: 🍰 Implement Progress Bar Again
  .github/workflows/test.yml
  backend/README.md
  backend/src/db/factories.js
  backend/src/db/migrations/20210506150512-add-donations-node.js
  backend/src/models/Donations.js
  backend/src/schema/index.js
  backend/src/schema/resolvers/donations.js
  backend/src/schema/resolvers/donations.spec.js
  backend/src/schema/types/type/Donations.gql
  cypress/features.md
  cypress/integration/Admin.DonationInfo.feature
  cypress/integration/Admin.DonationInfo/I_click_the_checkbox_show_donations_progress_bar_and_save.js
  cypress/integration/Admin.DonationInfo/the_donation_info_contains_goal_{string}_and_progress_{string}.js
  cypress/integration/Admin.DonationInfo/the_donation_info_is_{string}.js
  cypress/integration/Admin.PinPost/I_open_the_content_menu_of_post_{string}.js
  cypress/integration/common/the_following_{string}_are_in_the_database.js
  cypress/parallel-features.sh
  webapp/components/CommentForm/CommentForm.vue
  webapp/components/DonationInfo/DonationInfo.spec.js
  webapp/components/DonationInfo/DonationInfo.vue
  webapp/components/Dropdown.vue
  webapp/components/FilterMenu/FilterMenu.spec.js
  webapp/components/FilterMenu/FilterMenu.vue
  webapp/components/FilterMenu/FilterMenuSection.vue
  webapp/components/FilterMenu/FollowingFilter.vue
  webapp/components/FilterMenu/OrderByFilter.spec.js
  webapp/components/FilterMenu/OrderByFilter.vue
  webapp/components/ProgressBar/ProgressBar.spec.js
  webapp/components/ProgressBar/ProgressBar.vue
  webapp/graphql/Donations.js
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/locales/es.json
  webapp/locales/fr.json
  webapp/locales/it.json
  webapp/locales/pt.json
  webapp/locales/ru.json
  webapp/pages/admin/donations.spec.js
  webapp/pages/admin/donations.vue
  webapp/pages/index.spec.js
  webapp/pages/index.vue
  webapp/store/posts.js
  webapp/store/posts.spec.js
Labels: backend, frontend, devops

#4623 feat: 🍰 Send Notification E-Mail
  backend/src/db/factories.js
  backend/src/db/migrations/20210923140939-add-sendNotificationEmails-property-to-all-users.js
  backend/src/middleware/helpers/email/sendMail.js
  backend/src/middleware/helpers/email/templateBuilder.js
  backend/src/middleware/helpers/email/templates/de/index.js
  backend/src/middleware/helpers/email/templates/de/notification.html
  backend/src/middleware/helpers/email/templates/emailVerification.html
  backend/src/middleware/helpers/email/templates/en/index.js
  backend/src/middleware/helpers/email/templates/en/notification.html
  backend/src/middleware/helpers/email/templates/index.js
  backend/src/middleware/helpers/email/templates/layout.html
  backend/src/middleware/helpers/email/templates/resetPassword.html
  backend/src/middleware/helpers/email/templates/signup.html
  backend/src/middleware/helpers/email/templates/wrongAccount.html
  backend/src/middleware/index.js
  backend/src/middleware/login/loginMiddleware.js
  backend/src/middleware/notifications/notificationsMiddleware.js
  backend/src/models/User.js
  backend/src/schema/resolvers/registration.js
  backend/src/schema/resolvers/users.js
  backend/src/schema/types/type/User.gql
  cypress/integration/User.SettingNotifications.feature
  cypress/integration/User.SettingNotifications/I_click_on_element_with_ID_{string}.js
  cypress/integration/User.SettingNotifications/I_click_save.js
  cypress/integration/User.SettingNotifications/I_click_the_checkbox_show_donations_progress_bar_and_save.js
  cypress/integration/UserProfile.ChangePassword/I_submit_the_form.js
  cypress/integration/common/I_see_a_{string}_message.js
  cypress/integration/common/the_checkbox_with_ID_{string}_should_{string}.js
  webapp/components/Registration/RegistrationSlideEmail.vue
  webapp/graphql/User.js
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/settings.vue
  webapp/pages/settings/notifications.spec.js
  webapp/pages/settings/notifications.vue
Labels: feature, backend, frontend, mail
