Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2021-07, with the labels that each got.

#4536 New Issue type EPIC
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/devops_ticket.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/refactor_tickets.md
Labels: devops, refactor

#4492 feat: 🍰 Post Editor Legend
  package.json
  webapp/components/Editor/MenuBar.vue
  webapp/components/Editor/MenuLegend.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/locales/ru.json
Labels: feature, features:comment, features:post, frontend

#4556 fix: 🍰 Fix Menu Legend Menu Bar Button Without Click Event
  webapp/components/Editor/MenuBarButton.vue
Labels: bug, frontend

#4565 fix: 🍰 Quick Fix For backend Tests
  LICENSE.md
  backend/src/activitypub/routes/webfinger.spec.js
  backend/src/jwt/decode.spec.js
  backend/src/middleware/hashtags/hashtagsMiddleware.spec.js
  backend/src/middleware/languages/languages.spec.js
  backend/src/middleware/notifications/notificationsMiddleware.spec.js
  backend/src/middleware/orderByMiddleware.spec.js
  backend/src/middleware/permissionsMiddleware.spec.js
  backend/src/middleware/slugifyMiddleware.spec.js
  backend/src/middleware/softDelete/softDeleteMiddleware.spec.js
  backend/src/middleware/userInteractions.spec.js
  backend/src/middleware/validation/validationMiddleware.spec.js
  backend/src/models/User.spec.js
  backend/src/schema/resolvers/comments.spec.js
  backend/src/schema/resolvers/donations.spec.js
  backend/src/schema/resolvers/emails.spec.js
  backend/src/schema/resolvers/follow.spec.js
  backend/src/schema/resolvers/images/images.spec.js
  backend/src/schema/resolvers/inviteCodes.spec.js
  backend/src/schema/resolvers/locations.spec.js
  backend/src/schema/resolvers/moderation.spec.js
  backend/src/schema/resolvers/notifications.spec.js
  backend/src/schema/resolvers/passwordReset.spec.js
  backend/src/schema/resolvers/posts.spec.js
  backend/src/schema/resolvers/registration.spec.js
  backend/src/schema/resolvers/reports.spec.js
  backend/src/schema/resolvers/rewards.spec.js
  backend/src/schema/resolvers/searches.spec.js
  backend/src/schema/resolvers/shout.spec.js
  backend/src/schema/resolvers/socialMedia.spec.js
  backend/src/schema/resolvers/statistics.spec.js
  backend/src/schema/resolvers/userData.spec.js
  backend/src/schema/resolvers/user_management.spec.js
  backend/src/schema/resolvers/users.spec.js
  backend/src/schema/resolvers/users/location.spec.js
  backend/src/schema/resolvers/users/mutedUsers.spec.js
  backend/src/schema/resolvers/viewedTeaserCount.spec.js
Labels: backend, bug, core
