Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2022-11, with the labels that each got.

#5631 fix: My Groups Count Includes Pending Membership
  backend/src/schema/resolvers/groups.js
Labels: bug, backend

#5634 feat(other): semantic pullrequest workflow
  .github/workflows/lint_pr.yml
Labels: feature

#5661 refactor(backend): 🍰 Move `db/graphql` Folder Content To `graphql` Folder
  backend/src/graphql/authentications.js
  backend/src/graphql/comments.js
  backend/src/graphql/groups.js
  backend/src/graphql/posts.js
  backend/src/graphql/userManagement.js
  backend/src/middleware/slugifyMiddleware.spec.js
  backend/src/schema/resolvers/groups.spec.js
  backend/src/schema/resolvers/postsInGroups.spec.js
  backend/src/schema/resolvers/user_management.spec.js
Labels: refactor

#5637 test(other): jest coverage report in console
  backend/jest.config.js
  backend/package.json
  webapp/jest.config.js
  webapp/package.json
  webapp/yarn.lock
Labels: service: backend, service: webapp

#5703 fix(backend): 🍰 Misspelled Notification
  backend/src/schema/index.js
Labels: bug, service: backend

#5699 feat(webapp): 🍰 Params For Category Filter
  webapp/pages/index.spec.js
  webapp/pages/index.vue
Labels: feature, service: webapp

#5652 feat(webapp): 🍰 Search Users To Add To Group
  webapp/components/Group/AddGroupMember.vue
  webapp/components/Group/GroupMember.vue
  webapp/components/UserTeaser/UserTeaser.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/group/edit/_id/members.vue
Labels: feature, service: webapp

#5711 fix(webapp): clean up webapp unit tests
  webapp/pages/donate.spec.js
  webapp/pages/imprint.spec.js
  webapp/pages/organization.spec.js
  webapp/pages/support.spec.js
Labels: bug, service: webapp

#5707 fix(backend): sanitize group description
  backend/src/helpers/walkRecursive.js
  backend/src/middleware/xssMiddleware.js
Labels: feature, service: backend

#5709 feat(webapp): 🍰 Sort Categories By Name
  webapp/components/CategoriesSelect/CategoriesSelect.vue
  webapp/components/FilterMenu/CategoriesFilter.vue
  webapp/mixins/sortCategoriesMixin.js
  webapp/pages/group/_id/_slug.vue
  webapp/pages/post/_id/_slug/index.vue
Labels: feature, service: webapp, project: yunite
