Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2022-09, with the labels that each got.

#5253 docs: 🍰 Document GraqhQL Playground
  backend/README.md
  backend/src/graphql/GraphQL-Playground.md
Labels: documentation, backend, core, devops

#5224 feat: 🍰 Implement `UpdateGroup` Resolver
  backend/src/constants/groups.js
  backend/src/db/graphql/groups.js
  backend/src/middleware/excerptMiddleware.js
  backend/src/middleware/permissionsMiddleware.js
  backend/src/middleware/sluggifyMiddleware.js
  backend/src/middleware/slugifyMiddleware.spec.js
  backend/src/schema/resolvers/groups.js
  backend/src/schema/resolvers/groups.spec.js
  backend/src/schema/resolvers/posts.js
  backend/src/schema/resolvers/posts.spec.js
  backend/src/schema/types/type/Group.gql
Labels: feature, backend, devops, Yunite

#5261 feat: Save Category Settings
  backend/src/middleware/permissionsMiddleware.js
  backend/src/schema/resolvers/users.js
  backend/src/schema/resolvers/users.spec.js
  backend/src/schema/types/type/User.gql
Labels: backend, Yunite

#5301 fix: Category Filter Menu Client Only
  webapp/components/FilterMenu/CategoriesMenu.vue
  webapp/layouts/default.vue
Labels: bug, frontend

#5317 feat: 🍰 Hidden Groups Shall Not Be Visible For None Or Pending Members In Backend
  backend/src/db/seed.js
  backend/src/schema/resolvers/groups.js
  backend/src/schema/resolvers/groups.spec.js
Labels: feature, backend, Yunite

#5148 feat: 🍰 My Groups Page
  webapp/components/CategoriesSelect/CategoriesSelect.vue
  webapp/components/Group/GroupCard.vue
  webapp/components/Group/GroupForm.vue
  webapp/components/Group/GroupLink.vue
  webapp/components/Group/GroupMember.vue
  webapp/components/Group/GroupTeaser.vue
  webapp/constants/groups.js
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/group/create.vue
  webapp/pages/group/edit/_id.vue
  webapp/pages/group/edit/_id/index.vue
  webapp/pages/group/edit/_id/members.vue
  webapp/pages/my-groups.vue
  webapp/pages/settings.vue
Labels: frontend, Yunite

#5334 chore: 🍰 Update Neode From v^0.4.7 To v^0.4.8 In Backend
  backend/package.json
  backend/yarn.lock
  package.json
  yarn.lock
Labels: backend, core, dependencies, devops, Yunite

#5284 feat: 🍰 Save Categories In Frontend
  backend/src/schema/resolvers/user_management.js
  backend/src/schema/resolvers/user_management.spec.js
  backend/src/schema/resolvers/users.js
  backend/src/schema/resolvers/users.spec.js
  backend/src/schema/types/type/User.gql
  webapp/assets/_new/icons/svgs/save.svg
  webapp/components/FilterMenu/CategoriesFilter.spec.js
  webapp/components/FilterMenu/CategoriesFilter.vue
  webapp/components/LoginForm/LoginForm.spec.js
  webapp/components/LoginForm/LoginForm.vue
  webapp/graphql/SaveCategories.js
  webapp/graphql/User.js
  webapp/locales/de.json
  webapp/locales/en.json
Labels: feature, frontend

#5332 feat: 🍰 Implement Group Profile – Visibility
  backend/src/db/graphql/groups.js
  backend/src/schema/resolvers/groups.js
  backend/src/schema/resolvers/groups.spec.js
  backend/src/schema/resolvers/helpers/Resolver.js
  backend/src/schema/types/type/Group.gql
  webapp/graphql/groups.js
  webapp/mixins/persistentLinks.js
Labels: feature, backend, frontend, Yunite

#5335 feat: 🍰 Group Profile Members List Etc
  backend/src/db/graphql/groups.js
  backend/src/middleware/permissionsMiddleware.js
  backend/src/schema/resolvers/groups.js
  backend/src/schema/resolvers/groups.spec.js
  backend/src/schema/types/type/Group.gql
  webapp/components/Button/FollowButton.spec.js
  webapp/components/Button/FollowButton.vue
  webapp/components/Button/JoinLeaveButton.vue
  webapp/components/features/ProfileList/FollowList.spec.js
  webapp/components/features/ProfileList/FollowList.story.js
  webapp/components/features/ProfileList/FollowList.story.json
  webapp/components/features/ProfileList/FollowList.vue
  webapp/components/features/ProfileList/ProfileList.vue
  webapp/graphql/groups.js
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/locales/es.json
  webapp/locales/fr.json
  webapp/locales/it.json
  webapp/locales/nl.json
  webapp/locales/pl.json
  webapp/locales/pt.json
  webapp/locales/ru.json
  webapp/pages/group/_id/_slug.vue
  webapp/pages/profile/_id/_slug.vue
Labels: feature, backend, frontend, Yunite

#5350 feat: 🍰 Tooltips For Topics
  webapp/components/CategoriesSelect/CategoriesSelect.vue
  webapp/components/FilterMenu/CategoriesFilter.vue
  webapp/components/PostTeaser/PostTeaser.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/post/_id/_slug/index.vue
Labels: feature, frontend, Yunite

#5368 feat: 🍰 Group Profile Description Etc
  backend/src/constants/groups.js
  backend/src/db/graphql/groups.js
  backend/src/db/seed.js
  backend/src/middleware/permissionsMiddleware.js
  backend/src/middleware/slugifyMiddleware.spec.js
  backend/src/schema/index.js
  backend/src/schema/resolvers/groups.js
  backend/src/schema/resolvers/groups.spec.js
  backend/src/schema/resolvers/users.js
  backend/src/schema/resolvers/users.spec.js
  backend/src/schema/resolvers/users/location.js
  backend/src/schema/types/type/Group.gql
  backend/src/schema/types/type/User.gql
  webapp/components/Button/JoinLeaveButton.vue
  webapp/components/CategoriesSelect/CategoriesSelect.vue
  webapp/components/FilterMenu/CategoriesFilter.vue
  webapp/components/Group/GroupCard.vue
  webapp/components/Group/GroupForm.vue
  webapp/components/Group/GroupTeaser.vue
  webapp/components/PostTeaser/PostTeaser.vue
  webapp/components/Uploader/AvatarUploader.spec.js
  webapp/components/Uploader/AvatarUploader.vue
  webapp/components/_new/generic/BaseButton/BaseButton.vue
  webapp/graphql/Fragments.js
  webapp/graphql/User.js
  webapp/graphql/groups.js
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/group/_id/_slug.___spec.js
  webapp/pages/group/_id/_slug.spec.js
  webapp/pages/group/_id/_slug.vue
  webapp/pages/group/create.vue
  webapp/pages/group/edit/_id.vue
  webapp/pages/group/edit/_id/index.vue
  webapp/pages/index.vue
  webapp/pages/my-groups.vue
  webapp/pages/post/_id/_slug/index.vue
  webapp/pages/profile/_id/_slug.vue
  webapp/pages/terms-and-conditions-confirm.vue
  webapp/plugins/v-tooltip.js
Labels: feature, backend, frontend, Yunite

#5390 chore: 🍰 Refactor Rebranding
  backend/src/schema/resolvers/users/location.spec.js
  webapp/assets/_new/styles/tokens.scss
  webapp/assets/styles/imports/_branding.scss
  webapp/assets/styles/main.scss
  webapp/components/Dropdown.vue
  webapp/components/FilterMenu/CategoriesMenu.vue
  webapp/components/LocaleSwitch/LocaleSwitch.vue
  webapp/components/Logo/Logo.vue
  webapp/components/Logo/style.scss
  webapp/components/PageFooter/PageFooter.vue
  webapp/constants/headerMenu.js
  webapp/constants/logos.js
  webapp/layouts/default.vue
  webapp/nuxt.config.js
  webapp/pages/settings/index.vue
Labels: refactor, Yunite

#5408 chore: 🍰 Implement Automatic Deployment For Groups Branch '5059-epic-groups'
  .github/workflows/publish.yml
Labels: core, devops, Yunite

#5411 feat: 🍰 Have My Groups In The User Menu And Configure Groups Button In Header
  webapp/components/AvatarMenu/AvatarMenu.spec.js
  webapp/components/AvatarMenu/AvatarMenu.vue
  webapp/components/Group/GroupButton.vue
  webapp/constants/groups.js
  webapp/layouts/default.vue
  webapp/locales/de.json
  webapp/locales/en.json
Labels: feature, frontend, core, devops, Yunite

#5345 feat: 🍰 Group Members Management
  webapp/assets/_new/styles/tokens.scss
  webapp/components/Group/GroupCard.vue
  webapp/components/Group/GroupContentMenu.spec.js
  webapp/components/Group/GroupContentMenu.vue
  webapp/components/Group/GroupForm.spec.js
  webapp/components/Group/GroupForm.vue
  webapp/components/Group/GroupList.vue
  webapp/components/Group/GroupMember.vue
  webapp/components/Group/GroupTeaser.vue
  webapp/components/PostTeaser/PostTeaser.vue
  webapp/components/_new/generic/BaseButton/BaseButton.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/group/_id/_slug.spec.js
  webapp/pages/group/_id/_slug.vue
  webapp/pages/group/create.vue
  webapp/pages/group/edit/_id.vue
  webapp/pages/group/edit/_id/index.vue
  webapp/pages/group/edit/_id/members.vue
  webapp/pages/my-groups.vue
  webapp/pages/profile/_id/_slug.vue
  webapp/pages/settings.vue
  webapp/plugins/v-tooltip.js
Labels: feature, frontend, administration
