Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2022-08, with the labels that each got.

#5101 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/devops_ticket.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/refactor_tickets.md
Labels: devops

#5102 feat: Make Categories Optional
  backend/.env.template
  backend/src/config/index.js
  backend/src/schema/resolvers/posts.js
  webapp/.env.template
  webapp/components/ContributionForm/ContributionForm.spec.js
  webapp/components/ContributionForm/ContributionForm.vue
  webapp/components/PostTeaser/PostTeaser.spec.js
  webapp/components/PostTeaser/PostTeaser.vue
  webapp/components/_new/features/SearchResults/SearchResults.spec.js
  webapp/config/index.js
  webapp/graphql/Fragments.js
  webapp/pages/post/_id.spec.js
  webapp/pages/post/_id/_slug/index.spec.js
  webapp/pages/post/_id/_slug/index.vue
  webapp/pages/post/create.spec.js
  webapp/pages/post/edit/_id.spec.js
  webapp/pages/registration.spec.js
Labels: feature, backend, frontend

#5145 chore: 🍰 Release v1.1.0 - Implement Categories Again
  CHANGELOG.md
  backend/package.json
  package.json
  webapp/maintenance/source/package.json
  webapp/package.json
Labels: core, devops, Yunite

#5143 refactor: 🍰 Rename `UserGroup` To `UserRole`
  backend/src/schema/resolvers/users.spec.js
  backend/src/schema/types/enum/UserRole.gql
  backend/src/schema/types/type/User.gql
  webapp/graphql/admin/Roles.js
Labels: backend, frontend, refactor

#5139 feat: 🍰 Implement Group GQL Model And CRUD Resolvers – First Step
  backend/.env.template
  backend/package.json
  backend/src/constants/categories.js
  backend/src/constants/groups.js
  backend/src/db/graphql/authentications.js
  backend/src/db/graphql/groups.js
  backend/src/db/graphql/posts.js
  backend/src/db/migrate/store.js
  backend/src/db/migrations/20220803060819-create_fulltext_indices_and_unique_keys_for_groups.js
  backend/src/helpers/jest.js
  backend/src/middleware/excerptMiddleware.js
  backend/src/middleware/helpers/cleanHtml.js
  backend/src/middleware/languages/languages.js
  backend/src/middleware/permissionsMiddleware.js
  backend/src/middleware/sluggifyMiddleware.js
  backend/src/middleware/slugify/uniqueSlug.js
  backend/src/middleware/slugifyMiddleware.spec.js
  backend/src/models/Group.js
  backend/src/models/User.spec.js
  backend/src/models/index.js
  backend/src/schema/resolvers/groups.js
  backend/src/schema/resolvers/groups.spec.js
  backend/src/schema/types/enum/GroupActionRadius.gql
  backend/src/schema/types/enum/GroupMemberRole.gql
  backend/src/schema/types/enum/GroupType.gql
  backend/src/schema/types/type/Group.gql
  backend/src/schema/types/type/MEMBER_OF.gql
  backend/src/schema/types/type/User.gql
  backend/yarn.lock
  webapp/.env.template
  webapp/constants/categories.js
  webapp/constants/groups.js
Labels: backend, Yunite

#5184 chore: [WIP] 🍰 Add Groups To Seeding
  backend/.env.template
  backend/package.json
  backend/src/constants/categories.js
  backend/src/constants/groups.js
  backend/src/db/graphql/authentications.js
  backend/src/db/graphql/groups.js
  backend/src/db/graphql/posts.js
  backend/src/db/migrate/store.js
  backend/src/db/migrations/20220803060819-create_fulltext_indices_and_unique_keys_for_groups.js
  backend/src/helpers/jest.js
  backend/src/middleware/excerptMiddleware.js
  backend/src/middleware/helpers/cleanHtml.js
  backend/src/middleware/languages/languages.js
  backend/src/middleware/permissionsMiddleware.js
  backend/src/middleware/sluggifyMiddleware.js
  backend/src/middleware/slugify/uniqueSlug.js
  backend/src/middleware/slugifyMiddleware.spec.js
  backend/src/models/Group.js
  backend/src/models/User.spec.js
  backend/src/models/index.js
  backend/src/schema/resolvers/groups.js
  backend/src/schema/resolvers/groups.spec.js
  backend/src/schema/types/enum/GroupActionRadius.gql
  backend/src/schema/types/enum/GroupMemberRole.gql
  backend/src/schema/types/enum/GroupType.gql
  backend/src/schema/types/type/Group.gql
  backend/src/schema/types/type/MEMBER_OF.gql
  backend/src/schema/types/type/User.gql
  backend/yarn.lock
  webapp/.env.template
  webapp/constants/categories.js
  webapp/constants/groups.js
Labels: backend, devops, Yunite

#5185 chore: 🍰 Add Groups To Seeding
  backend/src/db/graphql/comments.js
  backend/src/db/graphql/posts.js
  backend/src/db/graphql/userManagement.js
  backend/src/db/seed.js
  backend/src/schema/resolvers/user_management.spec.js
Labels: backend, devops, Yunite

#5182 chore: 🍰 Add `--logHeapUsage` To Jest Test Call
  backend/package.json
Labels: devops

#5217 fix: 🍰 Fix Test Description From `enter-nonce.vue` To `change-password`
  webapp/pages/password-reset/change-password.spec.js
Labels: bug, frontend, devops

#5199 feat: 🍰 Implement `JoinGroup`, `GroupMember`, `SwitchGroupMemberRole` Resolvers
  backend/src/db/graphql/groups.js
  backend/src/db/seed.js
  backend/src/helpers/jest.js
  backend/src/middleware/permissionsMiddleware.js
  backend/src/schema/resolvers/groups.js
  backend/src/schema/resolvers/groups.spec.js
  backend/src/schema/types/type/Group.gql
  backend/src/schema/types/type/User.gql
Labels: feature, backend, Yunite

#5198 feat: Categories Filter Menu
  backend/src/constants/categories.js
  backend/src/db/migrate/store.js
  backend/src/db/seed.js
  backend/src/models/Category.js
  backend/src/schema/resolvers/posts.js
  webapp/assets/_new/icons/svgs/child.svg
  webapp/assets/_new/icons/svgs/desktop.svg
  webapp/assets/_new/icons/svgs/ellipsis-h.svg
  webapp/assets/_new/icons/svgs/home.svg
  webapp/assets/_new/icons/svgs/lightbulb.svg
  webapp/assets/_new/icons/svgs/movement.svg
  webapp/assets/_new/icons/svgs/music.svg
  webapp/assets/_new/icons/svgs/suitcase.svg
  webapp/components/FilterMenu/FilterMenu.spec.js
  webapp/components/FilterMenu/FilterMenu.vue
  webapp/locales/de.json
  webapp/locales/en.json
Labels: feature, backend, frontend, Yunite
