Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2023-04, with the labels that each got.

#6229 fix(other): reduce kubernetes memory limits
  deployment/src/kubernetes/templates/backend/Deployment.yaml
  deployment/src/kubernetes/templates/webapp/Deployment.yaml
Labels: bug

#6230 fix(other): deployment fix typo, update stage.ocelot.social reference
  deployment/scripts/branded-images.build.sh
Labels: bug

#6231 feat(backend): add further event params
  backend/src/graphql/posts.js
  backend/src/schema/resolvers/helpers/events.js
  backend/src/schema/resolvers/posts.js
  backend/src/schema/resolvers/posts.spec.js
  backend/src/schema/types/type/Post.gql
Labels: feature, service: backend

#6151 refactor(other): refactor test workflows
  .github/file-filters.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-webapp.yml
  .github/workflows/test.yml
  backend/jest.config.js
  webapp/jest.config.js
Labels: devops, refactor, github_actions

#6255 feat(backend): filter posts by post type
  backend/src/graphql/posts.js
  backend/src/schema/resolvers/filter-posts.spec.js
  backend/src/schema/resolvers/postsInGroups.spec.js
  backend/src/schema/types/type/Post.gql
Labels: feature, service: backend

#6258 fix(webapp): show avatar for group members
  webapp/graphql/groups.js
Labels: bug

#6262 fix(backend): recover missing commit
  backend/src/graphql/posts.js
  backend/src/schema/resolvers/helpers/events.js
  backend/src/schema/resolvers/posts.js
  backend/src/schema/resolvers/posts.spec.js
  backend/src/schema/types/type/Post.gql
Labels: service: backend

#6244 refactor(webapp): make action radius select in group form a reusable component
  webapp/components/Group/GroupForm.vue
  webapp/components/Select/ActionRadiusSelect.spec.js
  webapp/components/Select/ActionRadiusSelect.vue
Labels: service: webapp, refactor, project: yunite

#6257 fix(backend): post type on notifications
  backend/src/schema/resolvers/notifications.js
Labels: bug, service: backend

#6259 feat(webapp): default categories of group for posts in group
  webapp/components/CategoriesSelect/CategoriesSelect.vue
  webapp/components/ContributionForm/ContributionForm.vue
Labels: feature, service: webapp
