Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2023-01, with the labels that each got.

#5842 refactor(webapp): nump docker version to `16.19.0` in webapp & maintenance
  webapp/.nvmrc
  webapp/Dockerfile
  webapp/Dockerfile.maintenance
Labels: bug, service: webapp

#5897 refactor(backend): node 19 with fixed image upload
  backend/.nvmrc
  backend/Dockerfile
  backend/README.md
  backend/jest.config.js
  backend/package.json
  backend/src/schema/resolvers/Upload.js
  backend/src/schema/resolvers/embeds.spec.js
  backend/src/schema/resolvers/images/images.js
  backend/src/server.js
  backend/test/setup.js
  backend/yarn.lock
  webapp/README.md
Labels: refactor

#5909 fix(backend): do not expose registered emails on registration
  backend/src/middleware/login/loginMiddleware.js
  backend/src/schema/resolvers/emails.js
  backend/src/schema/resolvers/emails.spec.js
  backend/src/schema/resolvers/helpers/existingEmailAddress.js
  backend/src/schema/resolvers/registration.js
  backend/src/schema/resolvers/registration.spec.js
Labels: feature, service: backend, service: webapp, core, project: yunite

#5138 refactor(webapp): 🍰 Refactor Social Media And `MySomethingList`
  CONTRIBUTING.md
  DOCKER_MORE_CLOSELY.md
  cypress/cypress.json
  cypress/integration/UserProfile.SocialMedia.feature
  cypress/integration/UserProfile.SocialMedia/I_add_a_social_media_link.js
  cypress/integration/UserProfile.SocialMedia/I_delete_a_social_media_link.js
  cypress/integration/UserProfile.SocialMedia/I_delete_the_social_media_link_{string}.js
  cypress/integration/UserProfile.SocialMedia/I_edit_and_save_the_link.js
  cypress/integration/UserProfile.SocialMedia/I_have_added_a_social_media_link.js
  cypress/integration/UserProfile.SocialMedia/I_have_added_the_social_media_link_{string}.js
  cypress/integration/UserProfile.SocialMedia/I_start_editing_a_social_media_link.js
  cypress/integration/UserProfile.SocialMedia/they_should_be_able_to_see_my_social_media_links.js
  cypress/integration/common/I_see_a_toaster_with_status_{string}.js
  webapp/components/Modal.vue
  webapp/components/Modal/ConfirmModal.vue
  webapp/components/SocialMedia/SocialMedia.vue
  webapp/components/_new/features/MySomethingList/MySomethingList.spec.js
  webapp/components/_new/features/MySomethingList/MySomethingList.vue
  webapp/graphql/SocialMedia.js
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/settings/my-social-media.spec.js
  webapp/pages/settings/my-social-media.vue
Labels: service: webapp, refactor
