Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2023-03, with the labels that each got.

#6023 docs(webapp): change the used nvm version
  webapp/README.md
Labels: bug, service: webapp

#6027 feat(webapp): change ``Benutzer`` to ``Nutzer``
  webapp/locales/de.json
Labels: feature, service: webapp

#6085 fix(other): exclude dependabot from pr title linting
  .github/workflows/lint_pr.yml
Labels: bug

#6063 feat(webapp): adjust and create branding possibilities
  webapp/assets/_new/styles/tokens.scss
  webapp/assets/styles/imports/_toast.scss
  webapp/components/PageFooter/PageFooter.vue
  webapp/components/ProgressBar/ProgressBar.vue
  webapp/pages/group/_id/_slug.vue
Labels: service: webapp, design, project: yunite

#6090 docs(other): update readme.md
  README.md
Labels: docu, devops

#6022 refactor(backend): withdraw mock of gql and replace with graphql-tag function
  backend/src/helpers/jest.js
  backend/src/middleware/hashtags/hashtagsMiddleware.spec.js
  backend/src/middleware/languages/languages.spec.js
  backend/src/middleware/notifications/notificationsMiddleware.spec.js
  backend/src/middleware/orderByMiddleware.spec.js
  backend/src/middleware/permissionsMiddleware.spec.js
  backend/src/middleware/softDelete/softDeleteMiddleware.spec.js
  backend/src/middleware/userInteractions.spec.js
  backend/src/middleware/validation/validationMiddleware.spec.js
  backend/src/schema/resolvers/comments.spec.js
  backend/src/schema/resolvers/donations.spec.js
  backend/src/schema/resolvers/emails.spec.js
  backend/src/schema/resolvers/embeds.spec.js
  backend/src/schema/resolvers/follow.spec.js
  backend/src/schema/resolvers/inviteCodes.spec.js
  backend/src/schema/resolvers/locations.spec.js
  backend/src/schema/resolvers/moderation.spec.js
  backend/src/schema/resolvers/notifications.spec.js
  backend/src/schema/resolvers/passwordReset.spec.js
  backend/src/schema/resolvers/posts.spec.js
  backend/src/schema/resolvers/registration.spec.js
  backend/src/schema/resolvers/reports.spec.js
  backend/src/schema/resolvers/rewards.spec.js
  backend/src/schema/resolvers/searches.spec.js
  backend/src/schema/resolvers/shout.spec.js
  backend/src/schema/resolvers/socialMedia.spec.js
  backend/src/schema/resolvers/statistics.spec.js
  backend/src/schema/resolvers/userData.spec.js
  backend/src/schema/resolvers/user_management.spec.js
  backend/src/schema/resolvers/users.spec.js
  backend/src/schema/resolvers/users/location.spec.js
  backend/src/schema/resolvers/users/mutedUsers.spec.js
  backend/src/schema/resolvers/viewedTeaserCount.spec.js
  cypress/integration/Moderation.ReportContent/somebody_reported_the_following_posts.js
  cypress/support/commands.js
  yarn.lock
Labels: service: backend, refactor

#6088 fix(other): lint pr only on pullrequest
  .github/workflows/lint_pr.yml
Labels: bug

#6056 chore(other): remove apple m1 docker overrides
  CONTRIBUTING.md
  backend/README.md
  deployment/DOCKER_MORE_CLOSELY.md
  deployment/docker-compose.apple-m1.override.yml
  docker-compose.apple-m1.override.yml
Labels: docu, core, devops

#6099 fix(other): deploy branded - upload to dockerhub
  .github/workflows/publish-branded.yml
Labels: bug

#6105 feat(webapp): change group filter button text
  webapp/locales/de.json
  webapp/locales/en.json
Labels: service: webapp, project: yunite

#6108 refactor(webapp): change invite code button and menu to copy invite link
  webapp/components/InviteButton/InviteButton.vue
  webapp/locales/de.json
  webapp/locales/en.json
Labels: service: webapp, refactor, project: yunite

#6115 feat(webapp): change shout icon `bullhorn` to `heart-o`
  webapp/components/PostTeaser/PostTeaser.vue
  webapp/components/ShoutButton.vue
  webapp/components/_new/generic/BaseButton/BaseButton.story.js
  webapp/components/generic/SearchPost/SearchPost.vue
Labels: service: webapp, design, project: yunite

#6065 fix(webapp): fix gap news feed
  webapp/pages/index.vue
Labels: bug, service: webapp, design, project: yunite

#6121 feat(webapp): on newsfeed add bigger y-gap between posts
  webapp/components/MasonryGrid/MasonryGrid.vue
Labels: feature, service: webapp, design, project: yunite

#6110 fix(webapp): fix `viewport``width=device-width` by removing it
  webapp/maintenance/source/nuxt.config.maintenance.js
  webapp/nuxt.config.js
Labels: bug, service: webapp, project: yunite

#6059 docs(other): correct **/README.md
  README.md
  backend/README.md
  deployment/DOCKER_MORE_CLOSELY.md
  neo4j/README.md
Labels: docu, service: backend

#6112 fix(webapp): change icon color of active topics (categories) of post teaser
  webapp/components/Category/index.vue
  webapp/components/PostTeaser/PostTeaser.vue
Labels: bug, service: webapp, design, project: yunite

#6125 refactor(other): deactivate video recording & only upload screenshots, if tests fail for e2e tests
  .github/workflows/test.yml
  cypress/cypress.json
Labels: devops, refactor, project: yunite

#6109 feat(webapp): filter button style change
  webapp/components/FilterMenu/HeaderButton.vue
  webapp/pages/index.vue
Labels: service: webapp, refactor, design, project: yunite

#6093 fix(webapp): error in user profil on the 'show x more' button
  webapp/components/features/ProfileList/FollowList.spec.js
  webapp/components/features/ProfileList/FollowList.vue
  webapp/pages/profile/_id/_slug.vue
Labels: bug, service: webapp

#6107 fix(webapp): fix donation bar blink
  webapp/pages/index.spec.js
  webapp/pages/index.vue
Labels: bug, service: webapp, design, project: yunite

#6130 fix(webapp): fix ribbons position
  webapp/components/PostTeaser/PostTeaser.vue
Labels: bug, service: webapp, design, project: yunite

#6116 feat(webapp): refactor notification page
  webapp/components/NotificationsTable/NotificationsTable.spec.js
  webapp/components/NotificationsTable/NotificationsTable.vue
Labels: feature, service: webapp, discussion, refactor, design, project: yunite

#6124 feat(webapp): set different icon and text on join leave button, when member is pending
  webapp/components/Button/JoinLeaveButton.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/locales/es.json
  webapp/locales/fr.json
  webapp/locales/it.json
  webapp/locales/nl.json
  webapp/locales/pl.json
  webapp/locales/pt.json
  webapp/locales/ru.json
  webapp/pages/group/_id/_slug.vue
Labels: good first issue, feature, service: webapp, project: yunite

#6114 feat(webapp): add hint text to create and edit a post of a group aside of the save and abort buttons
  webapp/components/ContributionForm/ContributionForm.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/post/create.vue
  webapp/pages/post/edit/_id.vue
Labels: service: webapp, project: yunite

#6150 feat(backend): notifications for groups
  backend/src/middleware/notifications/notificationsMiddleware.js
  backend/src/middleware/notifications/notificationsMiddleware.spec.js
  backend/src/schema/resolvers/notifications.js
  backend/src/schema/resolvers/notifications.spec.js
  backend/src/schema/types/enum/ReasonNotification.gql
  backend/src/schema/types/type/NOTIFIED.gql
  webapp/components/Notification/Notification.vue
  webapp/components/NotificationsTable/NotificationsTable.vue
  webapp/graphql/User.js
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/group/_id/_slug.vue
Labels: feature, service: backend

#6164 fix(webapp): revert pr `on newsfeed add bigger y-gap between posts #6121`
  webapp/components/MasonryGrid/MasonryGrid.vue
Labels: bug, service: webapp, project: yunite

#6166 fix(webapp): close popover notification menu
  webapp/components/NotificationMenu/NotificationMenu.vue
Labels: service: webapp

#6185 feat(webapp): add tooltips to all menu icons
  webapp/components/AvatarMenu/AvatarMenu.vue
  webapp/components/LocaleSwitch/LocaleSwitch.vue
  webapp/components/NotificationMenu/NotificationMenu.vue
  webapp/components/_new/generic/ProfileAvatar/ProfileAvatar.vue
  webapp/locales/de.json
  webapp/locales/en.json
Labels: service: webapp, project: yunite

#6180 chore(other): release v2.5.1 – fix filter menu width
  CHANGELOG.md
  backend/package.json
  package.json
  webapp/maintenance/source/package.json
  webapp/package.json
Labels: devops

#6196 feat(backend): add article label to posts
  backend/src/db/migrations/20230329150329-article-label-for-posts.js
Labels: feature, service: backend
