Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2023-07, with the labels that each got.

#6477 fix(backend): subscriptions
  backend/src/middleware/notifications/notificationsMiddleware.ts
  backend/src/schema/resolvers/messages.spec.ts
  webapp/graphql/User.js
Labels: bug, service: backend, service: webapp

#6503 feat(webapp): create a component chat scaffholding
  webapp/components/Chat/Chat.vue
  webapp/components/ChatNotificationMenu/ChatNotificationMenu.vue
  webapp/components/HeaderMenu/HeaderMenu.vue
  webapp/graphql/Messages.js
  webapp/graphql/Rooms.js
  webapp/layouts/default.spec.js
  webapp/layouts/default.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/nuxt.config.js
  webapp/package.json
  webapp/pages/chat.vue
  webapp/pages/profile/_id/_slug.vue
  webapp/plugins/vue-advanced-chat.js
  webapp/static/img/empty/chat-bubble.svg
  webapp/store/chat.js
  webapp/yarn.lock
Labels: feature, service: webapp, experimental, chat

#6526 refactor(other): refine webapp github workflow conditions
  .github/workflows/test-webapp.yml
Labels: devops, refactor, service: e2e

#6525 feat(webapp): event creation page -better placeholder texts for venue and city inputs
  webapp/locales/de.json
  webapp/locales/en.json
Labels: feature, service: webapp, project: yunite

#6517 feat(webapp): change chat style and lang
  webapp/assets/_new/styles/export.scss
  webapp/assets/_new/styles/tokens.scss
  webapp/components/Chat/Chat.vue
  webapp/constants/chat.js
  webapp/layouts/default.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/nuxt.config.js
Labels: service: webapp, design, features_chat, chat

#6528 refactor(other): cypress - migrate from cypress-file-upload to .selectFile()
  cypress/support/commands.js
  cypress/support/step_definitions/Post.Images/I_should_be_able_to_{string}_a_teaser_image.js
  cypress/support/step_definitions/UserProfile.Avatar/I_should_be_able_to_change_my_profile_picture.js
  package.json
  yarn.lock
Labels: devops, refactor, service: e2e

#6540 refactor(other): add proper reporting to cypress tests
  .github/workflows/test-e2e.yml
  cypress/create-cucumber-html-report.js
  cypress/cypress.config.js
  package.json
  yarn.lock
Labels: devops, refactor, service: e2e

#6552 feat(webapp): remove message actions for chat
  webapp/components/Chat/Chat.vue
Labels: service: webapp, features_chat, chat

#6553 feat(webapp): chat remove reply smileys
  webapp/components/Chat/Chat.vue
Labels: feature, service: webapp, features_chat, chat

#6581 fix(webapp): show room header images.
  webapp/components/Chat/Chat.vue
Labels: bug, service: webapp

#6582 refactor(other): use cached docker images in github e2e flow to decrease run time of e2e test job runs
  .github/workflows/test-e2e.yml
Labels: devops, refactor, service: e2e

#6566 feat(backend): unread rooms query
  backend/src/graphql/rooms.ts
  backend/src/middleware/permissionsMiddleware.ts
  backend/src/schema/resolvers/rooms.spec.ts
  backend/src/schema/resolvers/rooms.ts
  backend/src/schema/types/type/Room.gql
  webapp/components/ChatNotificationMenu/ChatNotificationMenu.vue
  webapp/graphql/Rooms.js
Labels: feature, service: backend, service: webapp

#6560 feat(webapp): chat language is reactive
  webapp/components/Chat/Chat.vue
Labels: feature, service: webapp, features_chat, chat

#6564 feat(backend): more room properties
  backend/src/graphql/messages.ts
  backend/src/graphql/rooms.ts
  backend/src/middleware/chatMiddleware.ts
  backend/src/middleware/index.ts
  backend/src/schema/resolvers/messages.spec.ts
  backend/src/schema/resolvers/messages.ts
  backend/src/schema/resolvers/rooms.spec.ts
  backend/src/schema/resolvers/rooms.ts
  backend/src/schema/types/type/Room.gql
Labels: feature, service: backend

#6555 feat(webapp): changed usertag in chat messages to user-slug
  webapp/components/Chat/Chat.vue
Labels: feature, service: webapp, features_chat, chat

#6567 feat(webapp): mark messages as seen
  backend/src/schema/types/type/Room.gql
  webapp/components/Chat/Chat.vue
  webapp/graphql/Messages.js
Labels: feature, service: webapp

#6594 fix(other): set workflow not to fail while deleting cache
  .github/workflows/test-e2e.yml
Labels: bug, devops

#6563 feat(webapp): add headline to chat page
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/chat.vue
Labels: service: webapp, project: yunite, chat

#6585 refactor(other): cache docker images for backend webapp e2e testing
  .github/file-filters.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-webapp.yml
Labels: devops, refactor, service: e2e

#6604 fix(other): github cache in workflow
  .github/workflows/cleanup-cache-at-pr-closing.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-webapp.yml
Labels: bug, refactor, github_actions

#6601 feat(webapp): change text for chat room search to `Filter chat rooms`
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/locales/es.json
  webapp/locales/fr.json
Labels: service: webapp, chat

#6612 feat(webapp): chat seen check style
  webapp/assets/_new/styles/export.scss
  webapp/assets/_new/styles/tokens.scss
  webapp/constants/chat.js
Labels: feature, service: webapp, design

#6614 feat(webapp): chat component can now show clickable urls
  backend/src/helpers/walkRecursive.ts
  backend/src/middleware/xssMiddleware.ts
Labels: feature, service: webapp, chat

#6617 feat(webapp): chat link to chat page
  webapp/components/Chat/Chat.vue
  webapp/store/chat.js
Labels: feature, service: webapp, project: yunite, features_chat, chat

#6608 fix(webapp): groups highlighting
  webapp/components/ContentMenu/GroupContentMenu.vue
  webapp/components/Group/GroupTeaser.vue
  webapp/components/Notification/Notification.vue
  webapp/components/NotificationsTable/NotificationsTable.vue
  webapp/components/UserTeaser/UserTeaser.vue
  webapp/components/generic/SearchableInput/SearchableInput.vue
  webapp/pages/groups/_id.spec.js
  webapp/pages/groups/_id.vue
  webapp/pages/groups/_id/_slug.spec.js
  webapp/pages/groups/_id/_slug.vue
  webapp/pages/groups/create.vue
  webapp/pages/groups/edit/_id.vue
  webapp/pages/groups/edit/_id/index.vue
  webapp/pages/groups/edit/_id/members.vue
  webapp/pages/groups/index.spec.js
  webapp/pages/groups/index.vue
Labels: bug, service: webapp, project: yunite

#6565 feat(webapp): change color red to green on cancel buttons of post and comments
  webapp/components/CommentForm/CommentForm.vue
  webapp/components/ContributionForm/ContributionForm.vue
  webapp/components/_new/features/MySomethingList/MySomethingList.vue
Labels: service: webapp

#6619 feat(webapp): change general search hint
  webapp/locales/de.json
  webapp/locales/en.json
Labels: feature, service: webapp

#6620 fix(webapp): change the background color of my messages to the same color as side menu
  webapp/assets/_new/styles/export.scss
  webapp/assets/_new/styles/tokens.scss
  webapp/constants/chat.js
Labels: bug, service: webapp, features_chat, chat

#6624 fix(webapp): fix code in editor component
  webapp/components/Editor/Editor.vue
Labels: bug, service: webapp

#6559 refactor(webapp): updated/refactored ui of create post page
  webapp/components/ContributionForm/ContributionForm.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/post/create.vue
Labels: service: webapp, discussion, refactor, design, project: yunite

#6639 fix(webapp): start search of user after three characters (chat new room, add group member)
  webapp/components/generic/SelectUserSearch/SelectUserSearch.vue
Labels: bug, service: webapp

#6646 fix(webapp): correct chat usertag profile link
  webapp/components/Chat/Chat.vue
Labels: bug, service: webapp, project: yunite, chat

#6535 refactor(webapp): refactor filter menu
  webapp/components/FilterMenu/CategoriesFilter.spec.js
  webapp/components/FilterMenu/CategoriesFilter.vue
  webapp/components/FilterMenu/EventsByFilter.vue
  webapp/components/FilterMenu/FilterMenuComponent.vue
  webapp/components/FilterMenu/FilterMenuSection.vue
  webapp/components/FilterMenu/FollowingFilter.spec.js
  webapp/components/FilterMenu/FollowingFilter.vue
  webapp/components/FilterMenu/OrderByFilter.spec.js
  webapp/components/FilterMenu/OrderByFilter.vue
  webapp/components/FilterMenu/PostTypeFilter.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/store/posts.js
  webapp/store/posts.spec.js
Labels: service: webapp, refactor, design, project: yunite
