Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2023-08, with the labels that each got.

#6656 fix(webapp): fix wrong labels in filter menu buttons
  webapp/components/FilterMenu/FollowingFilter.vue
  webapp/components/FilterMenu/OrderByFilter.vue
  webapp/locales/de.json
Labels: bug, service: webapp

#6658 chore(other): release v3.0.0
  CHANGELOG.md
  backend/package.json
  package.json
  webapp/maintenance/source/package.json
  webapp/package.json
Labels: core, administration

#6660 fix(webapp): try to fix avatars
  webapp/components/Chat/Chat.vue
Labels: bug

#6672 fix(webapp): fix wrong font in whole network comming from chat component
  webapp/components/Chat/Chat.vue
Labels: bug, service: webapp, chat

#6698 fix(webapp): fix the group link in the map
  webapp/pages/map.vue
Labels: bug, service: webapp

#6693 fix(webapp): fix proxyapiurl in chat rooms for the avatars
  webapp/components/Chat/Chat.vue
  webapp/plugins/vue-filters.js
Labels: bug, service: backend, chat

#6694 fix(webapp): filtermenu mobile bug
  webapp/components/FilterMenu/FilterMenuSection.vue
  webapp/components/FilterMenu/PostTypeFilter.vue
Labels: bug, service: webapp, design, project: yunite

#6692 feat(backend): implement dkim config for nodemailer
  README.md
  SUMMARY.md
  backend/.env.template
  backend/src/config/index.ts
  backend/src/middleware/helpers/email/sendMail.ts
  deployment/README.md
  deployment/TODO-next-update.md
  deployment/deployment-values.md
  deployment/deployment.md
Labels: feature, service: backend
