Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2023-05, with the labels that each got.

#6289 fix(webapp): properly render avatars in group settings
  webapp/components/Group/GroupMember.vue
Labels: bug, service: webapp

#6279 fix(webapp): fix z layer of header elements
  webapp/assets/_new/styles/tokens.scss
  webapp/assets/styles/main.scss
  webapp/pages/index.vue
Labels: bug, service: webapp, design, project: yunite

#6264 fix(webapp): post type filter buttons
  webapp/assets/_new/icons/svgs/book.svg
  webapp/assets/_new/icons/svgs/calendar.svg
  webapp/components/FilterMenu/CategoriesFilter.vue
  webapp/components/FilterMenu/FilterMenuComponent.vue
  webapp/components/FilterMenu/PostTypeFilter.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/store/posts.js
  webapp/store/posts.spec.js
Labels: bug, service: webapp

#6318 fix(backend): helmet fix
  backend/src/server.js
Labels: bug

#6308 fix(webapp): adds white space after user handle in comment editor
  webapp/components/Editor/nodes/Mention.js
Labels: bug, service: webapp, project: yunite

#6154 fix(webapp): fix newsfeed layout
  webapp/components/DonationInfo/DonationInfo.vue
  webapp/components/PostTeaser/PostTeaser.vue
  webapp/pages/index.vue
Labels: bug, service: webapp, design, project: yunite

#6329 docs(other): add description for script usage in deployment readme
  deployment/README.deployment.md
Labels: docu, devops, project: yunite

#6333 chore(other): set 'DEBUG=true' in backend '.env.template' to use GraphQL Playground
  backend/.env.template
  backend/src/graphql/GraphQL-Playground.md
Labels: docu, service: backend, devops

#6199 feat(other): 🍰 epic events – master
  backend/src/db/migrations/20230329150329-article-label-for-posts.js
  backend/src/graphql/posts.js
  backend/src/schema/resolvers/filter-posts.spec.js
  backend/src/schema/resolvers/helpers/events.js
  backend/src/schema/resolvers/notifications.js
  backend/src/schema/resolvers/posts.js
  backend/src/schema/resolvers/posts.spec.js
  backend/src/schema/resolvers/postsInGroups.spec.js
  backend/src/schema/resolvers/users/location.js
  backend/src/schema/types/enum/PostType.gql
  backend/src/schema/types/type/Post.gql
  webapp/.eslintignore
  webapp/assets/_new/icons/svgs/book.svg
  webapp/assets/_new/icons/svgs/calendar.svg
  webapp/components/ContributionForm/ContributionForm.spec.js
  webapp/components/ContributionForm/ContributionForm.vue
  webapp/components/FilterMenu/CategoriesFilter.spec.js
  webapp/components/FilterMenu/CategoriesFilter.vue
  webapp/components/FilterMenu/FilterMenu.spec.js
  webapp/components/FilterMenu/FilterMenuComponent.vue
  webapp/components/FilterMenu/PostTypeFilter.vue
  webapp/components/PostTeaser/PostTeaser.spec.js
  webapp/components/PostTeaser/PostTeaser.vue
  webapp/components/Ribbon/index.vue
  webapp/graphql/PostMutations.js
  webapp/graphql/PostQuery.js
  webapp/jest.config.js
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/package.json
  webapp/pages/post/_id/_slug/index.spec.js
  webapp/pages/post/_id/_slug/index.vue
  webapp/pages/post/create.vue
  webapp/store/posts.js
  webapp/store/posts.spec.js
  webapp/storybook/helpers.js
  webapp/yarn.lock
Labels: epic, service: backend, service: webapp, project: yunite
