Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2023-06, with the labels that each got.

#6335 fix(webapp): fix notification menu comment hash
  webapp/components/Notification/Notification.vue
Labels: bug, service: webapp

#6319 fix(webapp): fix group list number to six
  webapp/pages/groups.vue
Labels: bug, service: webapp

#6321 feat(backend): typescript
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile
  backend/jest.config.js
  backend/package.json
  backend/src/index.ts
  backend/src/schema/types/schema.gql
  backend/src/schema/types/type/Post.gql
  backend/src/schema/types/type/User.gql
  backend/tsconfig.json
  backend/yarn.lock
Labels: feature, service: backend

#6331 chore(other): upgrade node version in '.nvmrc' files to v20.2.0
  backend/.nvmrc
  webapp/.nvmrc
Labels: devops, node version

#6365 fix(backend): corrected path in branded images for backend build folder(former dist)
  deployment/src/docker/backend.Dockerfile
Labels: bug, service: backend, service: docker

#6366 fix(other): typescript fix regarding dist/build folder 2
  deployment/scripts/cluster.reseed.sh
  deployment/src/kubernetes/README.md
Labels: bug

#6359 fix(webapp): warnings in unit tests
  webapp/components/InviteButton/InviteButton.spec.js
  webapp/pages/post/create.spec.js
Labels: bug, service: webapp

#6367 feat(webapp): alternative solution for filter and order posts
  backend/src/schema/resolvers/filter-posts.spec.js
  webapp/components/FilterMenu/CategoriesFilter.vue
  webapp/components/FilterMenu/EventsByFilter.vue
  webapp/components/FilterMenu/FilterMenu.spec.js
  webapp/components/FilterMenu/FilterMenuComponent.vue
  webapp/components/FilterMenu/HeaderButton.vue
  webapp/components/FilterMenu/OrderByFilter.spec.js
  webapp/components/FilterMenu/OrderByFilter.vue
  webapp/components/FilterMenu/PostTypeFilter.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/index.spec.js
  webapp/pages/index.vue
  webapp/store/posts.js
  webapp/store/posts.spec.js
Labels: feature, service: webapp

#6364 refactor(backend): copy files in external script
  backend/.dockerignore
  backend/Dockerfile
  backend/package.json
  backend/scripts/build.copy.files.sh
Labels: service: backend, refactor

#6361 refactor(webapp): fix coverage
  webapp/components/FilterMenu/EmotionsFilter.spec.js.old
  webapp/components/FilterMenu/EmotionsFilter.vue.old
  webapp/components/FilterMenu/LanguagesFilter.spec.js.old
  webapp/components/FilterMenu/LanguagesFilter.vue.old
  webapp/jest.config.js
  webapp/package.json
  webapp/pages/post/edit/_id.vue
  webapp/pages/search/search-results.vue
  webapp/yarn.lock
Labels: bug, service: webapp

#6227 feat(backend): seed posts as article
  backend/src/db/factories.js
  backend/src/db/neo4j.js
  backend/src/schema/resolvers/reports.js
  cypress/support/commands.js
  cypress/support/step_definitions/Moderation.ReportContent/I_click_on_the_avatar_menu_in_the_top_right_corner.js
  cypress/support/step_definitions/Moderation.ReportContent/I_see_all_the_reported_posts_including_the_one_from_above.js
  cypress/support/step_definitions/Moderation.ReportContent/somebody_reported_the_following_posts.js
  cypress/support/step_definitions/common/I_navigate_to_page_{string}.js
  package.json
  yarn.lock
Labels: feature, service: backend

#6391 feat(backend): seed events
  backend/src/db/seed.js
  backend/src/middleware/notifications/notificationsMiddleware.js
  backend/src/middleware/validation/validationMiddleware.js
  backend/src/models/Post.js
  backend/src/schema/resolvers/moderation.js
  backend/src/schema/resolvers/notifications.js
  backend/src/schema/resolvers/reports.js
  backend/src/schema/resolvers/searches.js
Labels: feature, service: backend

#6396 feat(backend): migration to add postType property to existing posts
  backend/src/db/migrations/20230608130637-add-postType-property.js
Labels: feature, service: backend

#6405 feat(backend): show events not ended yet
  backend/src/schema/resolvers/posts.js
  backend/src/schema/types/type/Post.gql
Labels: feature, service: backend

#6385 fix(webapp): fix event teaser date from start to end by new components
  webapp/components/DateTimeRange/DateTimeRange.vue
  webapp/components/LocationTeaser/LocationTeaser.vue
  webapp/components/PostTeaser/PostTeaser.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/post/_id/_slug/index.vue
Labels: bug, service: webapp

#6306 refactor(database): update neo4j to 4.4
  backend/src/db/migrations/20220803060819-create_fulltext_indices_and_unique_keys_for_groups.ts
  backend/src/db/migrations/20230320130345-fulltext-search-indexes.ts
  backend/src/middleware/notifications/notificationsMiddleware.ts
  backend/src/middleware/validation/validationMiddleware.ts
  backend/src/schema/resolvers/comments.ts
  backend/src/schema/resolvers/follow.spec.ts
  backend/src/schema/resolvers/follow.ts
  backend/src/schema/resolvers/moderation.ts
  backend/src/schema/resolvers/notifications.ts
  backend/src/schema/resolvers/posts.ts
  backend/src/schema/resolvers/registration.spec.ts
  backend/src/schema/resolvers/reports.ts
  backend/src/schema/resolvers/searches.ts
  backend/src/schema/resolvers/users.ts
  backend/src/schema/types/type/Post.gql
  cypress/support/factories.js
  deployment/src/kubernetes/templates/neo4j/ConfigMap.yml
  docker-compose.yml
  neo4j/Dockerfile
Labels: refactor, experimental

#6444 feat(backend): rooms
  backend/src/graphql/rooms.ts
  backend/src/middleware/permissionsMiddleware.ts
  backend/src/schema/resolvers/rooms.spec.ts
  backend/src/schema/resolvers/rooms.ts
  backend/src/schema/types/type/Room.gql
Labels: feature, service: backend

#6450 feat(backend): messages
  backend/src/graphql/messages.ts
  backend/src/middleware/permissionsMiddleware.ts
  backend/src/schema/resolvers/messages.spec.ts
  backend/src/schema/resolvers/messages.ts
  backend/src/schema/resolvers/rooms.spec.ts
  backend/src/schema/types/type/Message.gql
  backend/src/schema/types/type/Room.gql
Labels: feature, service: backend

#6451 feat(backend): room properties
  backend/src/graphql/rooms.ts
  backend/src/schema/resolvers/rooms.spec.ts
  backend/src/schema/resolvers/rooms.ts
  backend/src/schema/types/type/Room.gql
Labels: feature, service: backend

#6471 feat(backend): message properties
  backend/src/graphql/messages.ts
  backend/src/schema/resolvers/messages.spec.ts
  backend/src/schema/resolvers/messages.ts
  backend/src/schema/types/type/Message.gql
Labels: feature, service: backend

#6441 fix(webapp): change registration `terms and conditions`, `data privacy` links to use `page-params-link`
  webapp/components/Registration/RegistrationSlideCreate.vue
  webapp/components/_new/features/PageParamsLink/PageParamsLink.vue
Labels: bug, service: webapp, project: yunite

#6472 fix(backend): seed reports
  backend/src/db/seed.ts
Labels: bug, service: backend
