Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2023-02, with the labels that each got.

#5923 fix(webapp): texts for groups
  webapp/components/Group/GroupForm.vue
  webapp/locales/de.json
  webapp/locales/en.json
Labels: service: webapp

#5910 refactor(webapp): upgrade node version to 19.4
  .nvmrc
  package.json
  webapp/.nvmrc
  webapp/Dockerfile
  webapp/Dockerfile.maintenance
  webapp/maintenance/source/package.json
  webapp/package.json
  webapp/yarn.lock
  yarn.lock
Labels: refactor, node version

#5843 feat(webapp): map
  backend/src/db/migrate/store.js
  docker-compose.maintenance.yml
  neo4j/README.md
  webapp/.env.template
  webapp/assets/_new/icons/svgs/globe-detailed.svg
  webapp/assets/_new/styles/tokens.scss
  webapp/components/Group/GroupButton.vue
  webapp/components/Group/GroupForm.vue
  webapp/components/HeaderMenu/HeaderMenu.vue
  webapp/components/LocaleSwitch/LocaleSwitch.vue
  webapp/components/Map/MapButton.vue
  webapp/components/Map/MapStylesButtons.vue
  webapp/components/_new/generic/BaseButton/BaseButton.vue
  webapp/components/_new/generic/BaseIcon/BaseIcon.vue
  webapp/config/index.js
  webapp/graphql/Fragments.js
  webapp/graphql/PostQuery.js
  webapp/graphql/User.js
  webapp/graphql/groups.js
  webapp/layouts/default.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/mixins/mobile.js
  webapp/nuxt.config.js
  webapp/package.json
  webapp/pages/admin/users.vue
  webapp/pages/map.spec.js
  webapp/pages/map.vue
  webapp/pages/profile/_id/_slug.vue
  webapp/pages/settings/index.vue
  webapp/plugins/v-mapbox.js
  webapp/static/img/mapbox/marker-icons/README.md
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-20px-blue.png
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-20px-gray.png
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-20px-green.png
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-20px-orange.png
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-20px-pink.png
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-20px-purple.png
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-20px-red.png
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-20px-yellow.png
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-blue.svg
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-gray.svg
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-green.svg
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-orange.svg
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-pink.svg
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-purple.svg
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-red.svg
  webapp/static/img/mapbox/marker-icons/mapbox-marker-icon-yellow.svg
  webapp/yarn.lock
Labels: feature, service: webapp

#5926 feat(webapp): hide navbar by scroll, filter button for content
  cypress/integration/UserProfile.NameDescriptionLocation/I_can_see_my_new_name_{string}_when_I_click_on_my_profile_picture_in_the_top_right.js
  cypress/integration/common/I_log_out.js
  webapp/assets/_new/icons/svgs/angle-up.svg
  webapp/components/FilterMenu/FilterMenu.vue
  webapp/components/FilterMenu/FilterMenuComponent.vue
  webapp/components/HeaderMenu/HeaderMenu.vue
  webapp/constants/filter.js
  webapp/layouts/default.vue
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/index.spec.js
  webapp/pages/index.vue
Labels: feature, service: webapp, design

#5950 refactor(webapp): set legend to map
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/pages/map.vue
Labels: service: webapp, refactor

#5943 refactor(webapp): refacchange postion add content button, refactor mobile filter menu
  webapp/components/FilterMenu/CategoriesFilter.vue
  webapp/components/FilterMenu/FilterMenu.vue
  webapp/components/FilterMenu/FilterMenuComponent.vue
  webapp/components/HeaderMenu/HeaderMenu.vue
  webapp/constants/posts.js
  webapp/layouts/default.vue
  webapp/pages/index.vue
Labels: bug, service: webapp, refactor

#5952 feat(webapp): mark active filters on the posts
  webapp/components/Category/index.vue
  webapp/components/PostTeaser/PostTeaser.vue
  webapp/pages/index.vue
Labels: feature, service: webapp

#5956 fix(webapp): close mobile menu on all links
  webapp/components/AvatarMenu/AvatarMenu.vue
  webapp/components/HeaderMenu/HeaderMenu.vue
Labels: bug, service: webapp

#5958 fix(webapp): post teaser width in mobile view
  webapp/components/HeaderMenu/HeaderMenu.vue
  webapp/components/MasonryGrid/MasonryGrid.vue
  webapp/pages/index.vue
Labels: bug, service: webapp

#5964 refactor(backend): update jest
  backend/package.json
  backend/src/activitypub/routes/webfinger.spec.js
  backend/src/jwt/decode.spec.js
  backend/src/middleware/hashtags/hashtagsMiddleware.spec.js
  backend/src/middleware/helpers/email/templateBuilder.spec.js
  backend/src/middleware/languages/languages.spec.js
  backend/src/middleware/notifications/notificationsMiddleware.spec.js
  backend/src/middleware/orderByMiddleware.spec.js
  backend/src/middleware/permissionsMiddleware.spec.js
  backend/src/middleware/slugifyMiddleware.spec.js
  backend/src/middleware/softDelete/softDeleteMiddleware.spec.js
  backend/src/middleware/userInteractions.spec.js
  backend/src/middleware/validation/validationMiddleware.spec.js
  backend/src/models/User.spec.js
  backend/src/schema/resolvers/comments.spec.js
  backend/src/schema/resolvers/donations.spec.js
  backend/src/schema/resolvers/emails.spec.js
  backend/src/schema/resolvers/follow.spec.js
  backend/src/schema/resolvers/groups.spec.js
  backend/src/schema/resolvers/images/images.spec.js
  backend/src/schema/resolvers/inviteCodes.spec.js
  backend/src/schema/resolvers/locations.spec.js
  backend/src/schema/resolvers/moderation.spec.js
  backend/src/schema/resolvers/notifications.spec.js
  backend/src/schema/resolvers/passwordReset.spec.js
  backend/src/schema/resolvers/posts.spec.js
  backend/src/schema/resolvers/postsInGroups.spec.js
  backend/src/schema/resolvers/registration.spec.js
  backend/src/schema/resolvers/reports.spec.js
  backend/src/schema/resolvers/rewards.spec.js
  backend/src/schema/resolvers/searches.spec.js
  backend/src/schema/resolvers/shout.spec.js
  backend/src/schema/resolvers/socialMedia.spec.js
  backend/src/schema/resolvers/statistics.spec.js
  backend/src/schema/resolvers/userData.spec.js
  backend/src/schema/resolvers/user_management.spec.js
  backend/src/schema/resolvers/users.spec.js
  backend/src/schema/resolvers/users/location.spec.js
  backend/src/schema/resolvers/users/mutedUsers.spec.js
  backend/src/schema/resolvers/viewedTeaserCount.spec.js
  backend/yarn.lock
Labels: service: backend, refactor

#6021 fix(webapp): remove additional markers from map
  webapp/pages/map.vue
Labels: bug, service: webapp, project: yunite

#5996 fix(backend): user or group has null as description
  backend/src/db/factories.js
  webapp/pages/map.vue
Labels: bug, service: backend, project: yunite
