Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2024-05, with the labels that each got.

#7144 feat(frontend): implement ocelot color tokens in frontend with themes
  frontend/renderer/plugins/vuetify.ts
  frontend/src/assets/sass/tokens.module.scss
  frontend/src/components/__snapshots__/PageShell.test.ts.snap
  frontend/src/components/menu/TopMenu.vue
  frontend/src/components/menu/__snapshots__/TopMenu.test.ts.snap
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/pages/index/+Page.vue
  frontend/src/pages/index/__snapshots__/Page.test.ts.snap
  frontend/vitest.config.ts
Labels: discussion, design, service: frontend

#7401 chore(frontend): update packages 2024 05 12
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, service: frontend

#7431 refactor(other): group dependabot updates
  .github/dependabot.yml
Labels: service: backend, service: webapp, dependencies, devops, service: frontend
