Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2024-08, with the labels that each got.

#7766 fix(backend): fix backend tests by changing mapbox location coordinates
  backend/src/schema/resolvers/posts.spec.ts
  backend/src/schema/resolvers/users/location.spec.ts
Labels: bug, service: backend

#7762 refactor(workflow): replace docker-compose by docker compose in workflow files
  .github/workflows/test-backend.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-webapp.yml
  backend/src/schema/resolvers/posts.spec.ts
  backend/src/schema/resolvers/users/location.spec.ts
  frontend/.github/workflows/frontend.deploy.docs.yml
Labels: devops, service: docker, refactor, docker

#7768 fix(webapp): fix maintenance dockerfiles image name
  .github/workflows/test.lint_pr.yml
  backend/Dockerfile
  deployment/docker-compose.ocelotsocial-branded.yml
  deployment/docker-compose.yml
  deployment/src/docker/backend.Dockerfile
  deployment/src/docker/maintenance.Dockerfile
  deployment/src/docker/webapp.Dockerfile
  docker-compose.maintenance.yml
  docker-compose.override.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/Dockerfile
  neo4j/Dockerfile
  webapp/Dockerfile
  webapp/Dockerfile.maintenance
Labels: devops, service: docker, docker

#7701 refactor(workflow): pin all github actions by commit hash
  .github/workflows/check-documentation.yml
  .github/workflows/cleanup-cache-at-pr-closing.yml
  .github/workflows/deploy-documentation.yml
  .github/workflows/frontend.deploy.chromatic.yml
  .github/workflows/frontend.test.build.code.yml
  .github/workflows/frontend.test.build.docker.yml
  .github/workflows/frontend.test.build.docs.yml
  .github/workflows/frontend.test.build.storybook.yml
  .github/workflows/frontend.test.lint.code.yml
  .github/workflows/frontend.test.unit.code.yml
  .github/workflows/publish.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-webapp.yml
  .github/workflows/test.lint_pr.yml
Labels: good first issue, devops, refactor, github_actions

#7564 chore(other): remove obsolete version element from all docker yaml files
  deployment/docker-compose.ocelotsocial-branded.yml
  deployment/docker-compose.yml
Labels: devops, service: docker, refactor, docker

#7769 fix(workflow): reset pkgdeps/git-tag-action to v3.0.0 in publish.yml
  .github/workflows/publish.yml
Labels: bug, devops
