Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2024-10, with the labels that each got.

#7976 fix(backend): fix geodata in mapbox-related resolver test
  backend/src/schema/resolvers/users/location.spec.ts
Labels: bug, service: backend

#7983 refactor(other): change set node version in readme files
  backend/README.md
  webapp/README.md
Labels: good first issue, service: backend, service: webapp, refactor

#7984 refactor(webapp): degroup vue packages in dependabot
  .github/dependabot.yml
Labels: service: webapp, dependencies, refactor

#7985 refactor(webapp): degroup sass packages in dependabot
  .github/dependabot.yml
Labels: service: webapp, dependencies, refactor

#8004 fix(webapp): change theme color to be brandable
  webapp/constants/manifest.js
  webapp/constants/metadata.js
Labels: bug, service: webapp

#7988 refactor(webapp): migrate sass devisions
  webapp/components/Badges.vue
  webapp/nuxt.config.js
  webapp/package.json
  webapp/yarn.lock
Labels: service: webapp, dependencies, refactor

#8024 refactor(other): dependabot: degroups webapp package updates for babel, graphql, neo4j, and nuxt
  .github/dependabot.yml
  webapp/components/Badges.vue
Labels: service: webapp, dependencies, devops

#8046 build(backend): update minor backend dependencies
  backend/package.json
  backend/yarn.lock
Labels: service: backend, dependencies

#8041 refactor(maintenance): dependabot: disable frontend dependency checks
  .github/dependabot.yml
Labels: dependencies, devops, service: frontend
