Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2025-05, with the labels that each got.

#8481 refactor(workflow): parallelize e2e preparation
  .github/workflows/test-e2e.yml
Labels: devops, refactor, service: e2e

#8450 feat(webapp): user teaser popover
  cypress/support/step_definitions/Post.Comment/I_should_see_my_comment.js
  webapp/assets/_new/styles/tokens.scss
  webapp/assets/styles/main.scss
  webapp/components/Dropdown.vue
  webapp/components/Notification/Notification.vue
  webapp/components/NotificationMenu/NotificationMenu.vue
  webapp/components/NotificationsTable/NotificationsTable.spec.js
  webapp/components/UserTeaser/LocationInfo.spec.js
  webapp/components/UserTeaser/LocationInfo.vue
  webapp/components/UserTeaser/UserTeaser.spec.js
  webapp/components/UserTeaser/UserTeaser.vue
  webapp/components/UserTeaser/UserTeaserHelper.spec.js
  webapp/components/UserTeaser/UserTeaserHelper.vue
  webapp/components/UserTeaser/UserTeaserNonAnonymous.vue
  webapp/components/UserTeaser/UserTeaserPopover.spec.js
  webapp/components/UserTeaser/UserTeaserPopover.vue
  webapp/components/UserTeaser/__snapshots__/LocationInfo.spec.js.snap
  webapp/components/UserTeaser/__snapshots__/UserTeaser.spec.js.snap
  webapp/components/UserTeaser/__snapshots__/UserTeaserHelper.spec.js.snap
  webapp/components/UserTeaser/__snapshots__/UserTeaserPopover.spec.js.snap
  webapp/components/utils/isTouchDevice.js
  webapp/graphql/Fragments.js
  webapp/graphql/User.js
  webapp/locales/de.json
  webapp/locales/en.json
  webapp/locales/es.json
  webapp/locales/fr.json
  webapp/locales/it.json
  webapp/locales/nl.json
  webapp/locales/pl.json
  webapp/locales/pt.json
  webapp/locales/ru.json
  webapp/pages/groups/_id/__snapshots__/_slug.spec.js.snap
Labels: feature, service: webapp

#8501 fix(backend): correct email from field
  backend/src/emails/__snapshots__/sendChatMessageMail.spec.ts.snap
  backend/src/emails/__snapshots__/sendEmailVerification.spec.ts.snap
  backend/src/emails/__snapshots__/sendNotificationMail.spec.ts.snap
  backend/src/emails/__snapshots__/sendRegistrationMail.spec.ts.snap
  backend/src/emails/__snapshots__/sendResetPasswordMail.spec.ts.snap
  backend/src/emails/__snapshots__/sendWrongEmail.spec.ts.snap
  backend/src/emails/sendEmail.ts
Labels: service: backend

#8503 chore(release): v3.5.3
  CHANGELOG.md
  backend/package.json
  deployment/helm/charts/ocelot-neo4j/Chart.yaml
  deployment/helm/charts/ocelot-social/Chart.yaml
  frontend/package-lock.json
  frontend/package.json
  package.json
  webapp/maintenance/source/package.json
  webapp/package.json
Labels: devops

#8505 refactor(backend): category seed
  backend/Dockerfile
  backend/package.json
  backend/src/constants/categories.ts
  backend/src/context/database.ts
  backend/src/db/categories.ts
Labels: service: backend, refactor

#8514 feat(docu): update email snapshots
  backend/README.md
Labels: docu, service: backend

#8517 feat(webapp): redirect on registration for invite links
  webapp/graphql/inviteCodes.js
  webapp/pages/registration.spec.js
  webapp/pages/registration.vue
Labels: feature, service: webapp

#8518 feat(webapp): group invite after login
  webapp/components/Registration/RegistrationSlider.vue
  webapp/pages/login.spec.js
  webapp/pages/login.vue
  webapp/pages/registration.spec.js
  webapp/pages/registration.vue
Labels: feature, service: webapp

#8536 fix(backend): category seed
  backend/src/db/categories.ts
  backend/src/db/seed.ts
  webapp/assets/_new/icons/svgs/reformer-basic-rights.svg
  webapp/assets/_new/icons/svgs/reformer-child-protection.svg
  webapp/assets/_new/icons/svgs/reformer-corona.svg
  webapp/assets/_new/icons/svgs/reformer-demonstrations.svg
  webapp/assets/_new/icons/svgs/reformer-digital-euro.svg
  webapp/assets/_new/icons/svgs/reformer-education.svg
  webapp/assets/_new/icons/svgs/reformer-justice.svg
  webapp/assets/_new/icons/svgs/reformer-media.svg
  webapp/assets/_new/icons/svgs/reformer-miscellaneous.svg
  webapp/assets/_new/icons/svgs/reformer-monetary-system.svg
  webapp/assets/_new/icons/svgs/reformer-ngos.svg
  webapp/assets/_new/icons/svgs/reformer-surveillance.svg
  webapp/assets/_new/icons/svgs/reformer-transhumanism.svg
  webapp/assets/_new/icons/svgs/reformer-who.svg
Labels: service: backend

#8540 feat(webapp): redirect to group after registration with invite to group
  backend/src/middleware/permissionsMiddleware.ts
  webapp/components/Registration/RegistrationSlideCreate.vue
  webapp/graphql/InviteCode.js
Labels: feature

#8542 fix(webapp): query categories on login to get the count
  webapp/components/LoginForm/LoginForm.spec.js
  webapp/components/LoginForm/LoginForm.vue
Labels: bug, service: webapp

#8552 fix(backend): user role in group in notifications
  backend/src/graphql/resolvers/notifications.ts
Labels: bug, service: backend

#8574 fix(webapp): improve login & invite mechanics
  webapp/components/Registration/RegistrationSlideCreate.vue
  webapp/components/Registration/RegistrationSlideEmail.vue
  webapp/components/Registration/RegistrationSlideInvite.vue
  webapp/components/Registration/RegistrationSlideNoPublic.vue
  webapp/components/Registration/RegistrationSlideNonce.vue
Labels: bug, service: frontend

#8598 feat(backend): pin more than one post
  backend/.env.template
  backend/src/config/index.ts
  backend/src/graphql/resolvers/posts.spec.ts
  backend/src/graphql/resolvers/posts.ts
  backend/src/graphql/types/type/Post.gql
  backend/src/middleware/permissionsMiddleware.ts
  webapp/components/ContentMenu/ContentMenu.spec.js
  webapp/components/ContentMenu/ContentMenu.vue
  webapp/graphql/PostQuery.js
  webapp/mixins/pinnedPosts.js
  webapp/mixins/postListActions.js
  webapp/pages/post/_id/_slug/index.vue
  webapp/store/pinnedPosts.js
  webapp/store/pinnedPosts.spec.js
Labels: feature, service: backend, service: webapp

#8606 feat(backend): pin public group posts
  backend/src/graphql/resolvers/posts.spec.ts
  backend/src/graphql/resolvers/posts.ts
  webapp/components/ContentMenu/ContentMenu.spec.js
  webapp/components/ContentMenu/ContentMenu.vue
  webapp/graphql/PostQuery.js
Labels: feature, service: backend, service: webapp

#6245 refactor(webapp): make group form's location select available as a separate component
  webapp/components/Group/GroupForm.vue
  webapp/components/Select/LocationSelect.spec.js
  webapp/components/Select/LocationSelect.vue
  webapp/pages/settings/index.spec.js
  webapp/pages/settings/index.vue
Labels: service: webapp, refactor
