Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2025-03, with the labels that each got.

#8215 feat(webapp): implement configurable custom button in header
  webapp/components/CustomButton/CustomButton.vue
  webapp/components/HeaderMenu/HeaderMenu.vue
  webapp/constants/headerMenu.js
  webapp/constants/headerMenuBranded.js
Labels: feature, service: webapp

#8249 fix(workflow): removed dockerhub related workflow parts
  .github/workflows/publish.yml
Labels: bug

#8251 fix(workflow): remove the requirement for non-existent job in publish workflow
  .github/workflows/publish.yml
Labels: bug

#8256 feat(other): release script also update helmchart versions
  package.json
  scripts/release.sh
Labels: feature

#8292 feat(backend): observe posts
  backend/src/graphql/posts.ts
  backend/src/middleware/permissionsMiddleware.ts
  backend/src/middleware/slugifyMiddleware.spec.ts
  backend/src/schema/resolvers/comments.ts
  backend/src/schema/resolvers/observePosts.spec.ts
  backend/src/schema/resolvers/posts.spec.ts
  backend/src/schema/resolvers/posts.ts
  backend/src/schema/resolvers/postsInGroups.spec.ts
  backend/src/schema/types/type/Post.gql
  webapp/graphql/Fragments.js
  webapp/graphql/PostMutations.js
Labels: feature, service: backend

#8310 feat(backend): observing status of the post after creating comment
  backend/src/schema/resolvers/comments.ts
  backend/src/schema/resolvers/observePosts.spec.ts
  backend/src/schema/types/type/Comment.gql
  webapp/graphql/Fragments.js
Labels: feature, service: backend
