Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2025-04, with the labels that each got.

#8295 fix(backend): users observing post count
  backend/src/schema/resolvers/posts.ts
  backend/src/schema/types/type/Post.gql
Labels: service: backend

#8307 feat(backend): migrate observes relation between author and post
  backend/src/db/migrations/20250331130323-author-observes-own-post.ts
Labels: feature, service: backend

#8311 refactor(backend): comment on observed post notification
  backend/src/middleware/notifications/notificationsMiddleware.spec.ts
  backend/src/middleware/notifications/notificationsMiddleware.ts
  backend/src/middleware/notifications/observing-posts.spec.ts
Labels: service: backend, refactor

#8254 fix(other): leftover hetzner deployment
  .gitignore
  deployment/deployment-values.md
Labels: bug

#8345 refactor(other): cleanup cypress configuration
  cypress/cypress.config.js
  cypress/support/commands.js
  cypress/support/e2e.js
  cypress/support/step_definitions/Moderation.ReportContent/somebody_reported_the_following_posts.js
  cypress/support/step_definitions/common/I_am_logged_in_as_{string}.js
  cypress/support/step_definitions/common/the_following_{string}_are_in_the_database.js
  cypress/support/step_definitions/common/{string}_wrote_a_post_{string}.js
Labels: refactor, service: e2e

#8344 feat(backend): posts and comments created by the factory set the observe relation
  backend/src/db/factories.ts
  backend/src/models/Post.ts
  backend/src/models/User.ts
Labels: feature, service: backend

#8308 feat(backend): migrate commenting users to observe commented posts
  backend/src/db/migrations/20250331140313-commenter-observes-post.ts
Labels: feature, service: backend

#8351 refactor(docker): use current maildev image from the right repo in docker compose files
  docker-compose.override.yml
  docker-compose.test.yml
Labels: refactor, docker

#8167 refactor(backend): set up smtp pooling for nodemailer
  backend/.env.template
  backend/src/config/index.ts
  backend/src/middleware/helpers/email/sendMail.ts
Labels: bug, service: backend, mail, refactor

#8378 fix(webapp): refine group muting locales
  webapp/locales/de.json
Labels: service: webapp, design

#7112 chore(frontend): add '.nvmrc' file to new frontend
  frontend/.nvmrc
Labels: devops

#8397 feat(backend): no notification mails to users online
  backend/src/middleware/notifications/notificationsMiddleware.online-status.spec.ts
  backend/src/middleware/notifications/notificationsMiddleware.ts
Labels: service: backend

#8392 fix(backend): mentioned users in posts and comments of groups
  backend/src/middleware/notifications/notificationsMiddleware.followed-users.spec.ts
  backend/src/middleware/notifications/notificationsMiddleware.mentions-in-groups.spec.ts
  backend/src/middleware/notifications/notificationsMiddleware.observing-posts.spec.ts
  backend/src/middleware/notifications/notificationsMiddleware.posts-in-groups.spec.ts
  backend/src/middleware/notifications/notificationsMiddleware.ts
Labels: bug, service: backend

#8395 refactor(webapp): refactor branding of post ribbons and chat etc.
  webapp/assets/_new/styles/export.scss
  webapp/assets/_new/styles/tokens.scss
  webapp/assets/_new/styles/uses.scss
  webapp/components/AvatarMenu/AvatarMenu.vue
  webapp/components/LoginButton/LoginButton.vue
  webapp/components/Ribbon/index.vue
  webapp/components/_new/generic/BaseCard/BaseCard.vue
  webapp/constants/chat.js
  webapp/nuxt.config.js
Labels: service: webapp, refactor

#8404 fix(backend): flaky notifications mentioned in groups unit test
  backend/src/middleware/notifications/notificationsMiddleware.mentions-in-groups.spec.ts
Labels: bug, service: backend

#8400 feat(backend): only one email is sent although more notifications are triggered
  backend/src/middleware/notifications/notificationsMiddleware.emails.spec.ts
  backend/src/middleware/notifications/notificationsMiddleware.mentions-in-groups.spec.ts
  backend/src/middleware/notifications/notificationsMiddleware.ts
Labels: feature, service: backend

#8403 feat(backend): do not notify blocked or muted users
  backend/src/middleware/notifications/notificationsMiddleware.posts-in-groups.spec.ts
  backend/src/middleware/notifications/notificationsMiddleware.spec.ts
  backend/src/middleware/notifications/notificationsMiddleware.ts
Labels: feature, service: backend

#8427 refactor(webapp): refactor branding diverse v2
  webapp/jsconfig.json
  webapp/nuxt.config.js
Labels: service: webapp

#8440 refactor(webapp): make login, registration, password-reset layout brandable
  backend/package.json
  backend/src/constants/registration.ts
  backend/src/constants/registrationBranded.ts
  backend/src/schema/resolvers/embeds/scraper.ts
  backend/src/schema/resolvers/helpers/generateInviteCode.ts
  backend/src/schema/resolvers/helpers/generateNonce.ts
  backend/src/schema/resolvers/inviteCodes.spec.ts
  backend/src/schema/resolvers/passwordReset.spec.ts
  backend/src/schema/resolvers/passwordReset.ts
  backend/yarn.lock
  webapp/components/Registration/RegistrationSlideInvite.vue
  webapp/components/Registration/RegistrationSlideNonce.vue
  webapp/constants/login.js
  webapp/constants/loginBranded.js
  webapp/constants/registration.js
  webapp/constants/registrationBranded.js
  webapp/pages/login.vue
  webapp/pages/password-reset.vue
  webapp/pages/registration.spec.js
  webapp/pages/registration.vue
Labels: feature, service: backend, service: webapp, refactor

#8448 🧘🏼 [Simulation] Brand reformer network first step – v2, Login etc. Branding
  backend/src/constants/registration.ts
  backend/src/constants/registrationBranded.ts
  backend/src/schema/resolvers/helpers/generateInviteCode.ts
  backend/src/schema/resolvers/helpers/generateNonce.ts
  backend/src/schema/resolvers/inviteCodes.spec.ts
  backend/src/schema/resolvers/passwordReset.spec.ts
  backend/src/schema/resolvers/passwordReset.ts
  webapp/assets/styles/imports/_branding.scss
  webapp/components/Registration/RegistrationSlideInvite.vue
  webapp/components/Registration/RegistrationSlideNonce.vue
  webapp/constants/login.js
  webapp/constants/loginBranded.js
  webapp/constants/registration.js
  webapp/constants/registrationBranded.js
  webapp/pages/login.vue
  webapp/pages/password-reset.vue
  webapp/pages/registration.vue
  webapp/static/img/RefNet-Hero_16x9_desktop_1920x1080.jpg
  webapp/static/img/RefNet-Hero_2x3_mobile_800x1200.jpg
  webapp/static/img/RefNet-Hero_3x4_mobile_900x1200.jpg
Labels: design, project: Reformer.network

#8461 fix(webapp): fix ocelot.social link for imprint and donation
  webapp/constants/links.js
Labels: service: webapp, devops
