Repository Ocelot-Social-Community/Ocelot-Social, pull requests merged in 2025-06, with the labels that each got.

#8634 fix(webapp): group categories
  webapp/pages/groups/_id/_slug.vue
Labels: bug, service: webapp

#8608 feat(webapp): location on registration
  backend/src/graphql/resolvers/registration.ts
  backend/src/graphql/types/type/EmailAddress.gql
  backend/src/middleware/permissionsMiddleware.ts
  webapp/.env.template
  webapp/assets/styles/main.scss
  webapp/components/Registration/RegistrationSlideCreate.vue
  webapp/components/Registration/RegistrationSlider.vue
  webapp/components/Select/LocationSelect.spec.js
  webapp/components/Select/LocationSelect.vue
  webapp/config/index.js
  webapp/graphql/Registration.js
  webapp/pages/settings/index.vue
Labels: feature, service: backend, service: webapp

#8636 feat(other): group create feature
  cypress/e2e/Group.Create.feature
  cypress/support/step_definitions/Group.Create/I_choose_the_following_text_as_description.js
  cypress/support/step_definitions/Group.Create/I_choose_{string}_as_the_about.js
  cypress/support/step_definitions/Group.Create/I_choose_{string}_as_the_action_radius.js
  cypress/support/step_definitions/Group.Create/I_choose_{string}_as_the_name.js
  cypress/support/step_definitions/Group.Create/I_choose_{string}_as_the_visibility.js
  cypress/support/step_definitions/Group.Create/the_group_was_saved_successfully.js
  cypress/support/step_definitions/common/I_click_on_{string}.js
Labels: feature, service: e2e

#8651 refactor(webapp): adapt webapp docker build stages to match e2e testing requirements
  .github/workflows/test-e2e.yml
  backend/.env.test_e2e
  docker-compose.test.yml
  webapp/Dockerfile
Labels: service: webapp, devops, service: docker, refactor, docker, service: e2e

#8691 chore(other): set some 'nvm' versions to '24.2.0'
  .nvmrc
  backend/.nvmrc
  backend/README.md
  frontend/.nvmrc
Labels: service: backend, devops, service: frontend

#8709 feat(other): tool versions
  backend/.tool-versions
  webapp/.tool-versions
Labels: service: backend, service: webapp, devops

#8640 fix(webapp): catch possibe errors on request geolocation
  backend/package.json
  backend/src/graphql/resolvers/users/location.ts
  webapp/components/Select/LocationSelect.vue
Labels: service: webapp

#8635 feat(backend): all db node properties
  backend/src/db/types/Category.ts
  backend/src/db/types/Comment.ts
  backend/src/db/types/EmailAddress.ts
  backend/src/db/types/Event.ts
  backend/src/db/types/Group.ts
  backend/src/db/types/Image.ts
  backend/src/db/types/InviteCode.ts
  backend/src/db/types/Location.ts
  backend/src/db/types/Message.ts
  backend/src/db/types/Post.ts
  backend/src/db/types/Report.ts
  backend/src/db/types/Tag.ts
Labels: feature, service: backend
